body {
    font-size: 20px;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    background-color: #0A0A0A;
    color: white;
}

code {font-family: "Consolas";}



/* Header */

header {
    box-sizing: border-box;
    height: 310px;
    overflow: hidden;
    background: #1B1B1B;
}

header nav {
    position: relative;
    top: 20px;
}

header nav div {
    display: block;
    padding: 5px 10px;
    margin: 5px auto 5px auto;
    border: solid 4px white;
    border-radius: 10px;
    width: 250px;

    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

header nav div:hover {box-shadow: 0 0 10px white;}
header h1 {padding-top: 20px;}



/* Main */

main section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding: 100px 10vw;
}



/* ID */

#backButton {
    width: 50px;
    height: 50px;
    background-color: #1B1B1B;
    border: solid 4px white;
    border-radius: 10px;
    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 3vw;
    bottom: 3vw;

    z-index: 1000;
}

#github {
    width: 50px;
    height: 50px;
    background-color: #1B1B1B;
    border: solid 4px white;
    border-radius: 10px;
    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3vw;
    bottom: 3vw;

    z-index: 1000;
}


/* Klasy */

.space {
    aspect-ratio: 1080 / 640;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {background-image: url("../images/layerNarrow.svg");}
.rotate {transform: rotate(180deg);}
.glowWhite:hover {box-shadow: 0 0 15px white;}
.red {background: #E54B3C;}